*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.6;
    background: #FFF7F4;
    color: #4A2C2A;
}
section{
    padding:2rem 1rem;
    text-align: center;
}
.header{
    background:#B23A48;
    color: white;
}

.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav a{
    margin-left: 1rem;
    text-decoration: none;
    color:white;
    font-weight: bold;
}
.nav a:hover{
    text-decoration: underline;
}
.hero button{
    margin-top: 1rem;
    background: #7A3E3E;
    color: white;
    padding: 0.6rem 1.2rem;
    border: none;
    cursor: pointer;
}
.hero{
    background: #FADADD;
    padding: 3rem 1rem;
}
.hero button:hover{
    background: #5C2B2B;
}
.cake-grid{
    display: grid;
    grid-template-columns: 1fr;
    gap:1.5rem;
    margin-top: 1.5rem;
}
.cake-card{
    border-radius: 6px;
    background-color: #FFF1E6;
    padding: 1rem;

}
.cake-card img{
    width: 100%;
    height: auto;
    border-radius: 6px;
}
@media(min-width:768px){
    .cake-grid{
        grid-template-columns: repeat(3,1fr);
    }
}
footer{
    background: #B23A48;
    color: white;
    padding: 1rem;
    text-align: center;
}
.container {
  max-width: 1100px;
  margin: auto;
}
h1{
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}
h2{
    font-size: 2rem;
    margin-bottom: 1rem;
}
h3{
    font-size: 1.3rem;
    margin-top: 0.5rem;
}
p{
    font-size: 1rem;
    opacity: 0.9;
}
section{
    padding:3rem 1 rem;
}
